body, html {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.legend {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}
